#landing{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  #splash{
    text-align: center;        
    #logo{
      width: 100px;
    }
    #logo_name{
      font-size: 50px;
      font-weight: 900;
      margin-top: 20px;
    }

    #logo_tagline{
      font-size: 10px;
      opacity: .8;
      a{
        color: inherit
      }
    }

    #go-on{
      margin-top: 10%;
        .fa{
          font-size: x-large;
          font-weight: 400;
        }
    }

    #go-on:hover{
      cursor: pointer;
    }
  }
}
