#what-we-do{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(0,0,0,.2);
  color: #111;

  #wwd_head{
    text-align: center;
    margin-bottom: 10px;
    font-size: 10px;
  }

  #wwd_title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .wwd_body{
    font-size: 18px;
    margin-bottom: 20px;
  }
}


